listen_interface: 127.0.0.1
listen_port: 8080
target: http://localhost:5601
target_path_prefix:
whitelisted_routes: ^.*
anonymous_group: group1

rbac:
  groups:

    group1:
      whitelisted_indices:
        .kibana: {rest_verbs: GET}
        logstash: {rest_verbs: GET}
        metrics: {rest_verbs: GET, PUT}
      can_manage: true

  users:

    dustind:
      whitelisted_indices:
        .kibana: {rest_verbs: GET}
        metrics: {rest_verbs: GET}
      can_manage: false
